@font-face {
  font-family: 'Friction Mono';
  font-display: auto;
  src: url('fonts/friction-mono.woff2') format('woff2'),
       url('fonts/friction-mono.woff') format('woff'),
       url('fonts/friction-mono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{box-sizing:border-box}

body {
	font-family: 'Friction Mono', monospace;
	text-rendering: optimizeLegibility;
	font-size: 3vw;
	background-color: #111;
	color: #FFF;
}

#wrapper{
	width:90vw;	
	margin: 4vw;
}


a{
	text-decoration: none;
	color: #fff;
}
	

p, form{
	font-size: 2.5vw;
	line-height: 3.5vw;
}

input {
	float: left;
	font-family: 'Friction Mono', monospace;
	background-color: #fff;
	color: #111;
	padding: 1.5vw 2.5vw;
	text-decoration: none;
	font-size: 1.5vw;
	min-height: 5vw;
}

.button{
	cursor: pointer;
	background-color: #233ee1;
	padding: 1.5vw 2.5vw;
	color: #fff;
	border: none;
}