@keyframes float {
  from { transform: translate3d(var(--offset-x, 0), -50%, 0); }
  to { transform: translate3d(var(--offset-x, 0), 0, 0); }
}

.view[data-view=home] {
  @include no-select;

  --color: var(--black);
  --background: var(--theme);

  z-index: 0;
  background-position: center;
  background-size: cover;

  height: 100vh;
  @include mobile { height: 100vh; }

  &.compact {
    height: unset;
    .menu.home-safe ~ main & .view__content {
      margin-top: var(--navbar-height);
    }
  }

  &.has-wireframe {
    --color: white;
  }

  .view__content {
    flex: 0;
    pointer-events: none;
    display: grid;
    place-items: center;
  }

  canvas {
    @include inset(0);
    z-index: -1;
  }

  h1 {
    font-size: 7rem;
    line-height: 0;
    padding: 0 var(--gutter);

    @include mobile {
      padding: 0 calc(2 * var(--gutter));
    }

    svg {
      height: 1em;
      max-width: 100%;
      fill: currentColor;
    }

    svg .nut {
      vector-effect: non-scaling-stroke;
      stroke: var(--color);
      fill: var(--theme);
      stroke-width: 1px;
    }
  }

  &.monochrome svg .nut {
    stroke: none;
    fill: var(--color);
  }

  h2 {
    font-size: var(--font-size--large);
    margin-top: var(--gutter);
  }

  #go-down {
    --offset-x: -50%;

    pointer-events: auto;
    position: fixed;
    bottom: var(--gutter);
    left: 50%;

    will-change: transform;
    animation: float 2s ease-in-out infinite alternate;

    font-family: var(--font-family--monospace);
    text-decoration: none;

    body.has-scrolled & {
      display: none;
    }
  }
}

