.view[data-view=intro] {
  --color: var(--black);
  --background: var(--theme);

  font-size: var(--font-size--large);

  & + & {
    padding-top: 0;
  }

  .view__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    align-items: center;


    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  p {
    @include desktop {
      padding-right: var(--gutter);
    }
  }

  p {
    margin-top: var(--gutter);
  }

  h2 {
    font-size: var(--font-size--small);
    // font-size: 4rem;
    text-transform: lowercase;
    line-height: 1.2;
    // font-weight: bold;
  }

  .fake-svg {
    aspect-ratio: 1;
    background: var(--lightgray);

    @include mobile {
      order: -1;
    }
  }
}
