.view[data-view=outro] {
  height: 100vh;
  pointer-events: none;

  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--gutter);

    display: flex;
    justify-content: space-between;

    font-size: var(--font-size--small);
  }

  footer a {
    pointer-events: auto;
  }
}
