@keyframes cta {
  0% { transform: none; }
  10% { transform: scale(1.1); }
  15% { transform: scale(0.9); }
  20% { transform: none; }
  // Add a delay between iterations
  100% { transform: none; }
}

// TODO[next]
.view[data-view=playground] {
  --background: var(--lightgray);

  min-height: 100vh;

  .view__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
  }

  h2 {
    margin-bottom: var(--gutter);
  }

  // .TODO {
  //   flex: 1;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='-2 -2 104 104'%3E %3Cpath d='M22.011,50C22.011,34.542 34.543,22.012 50.001,22.012C65.459,22.012 77.989,34.542 77.989,50C77.989,65.458 65.459,77.99 50.001,77.99C34.543,77.99 22.011,65.458 22.011,50M93.3,74.999L93.3,24.999L50.001,0L6.7,24.999L6.7,74.999L50.001,100L93.3,74.999Z'/%3E%3C/svg%3E%0A");
  //   background-size: 1%;
  // }

  .TODO {
    img {
      width: 100%;
      height: auto;
    }
  }

  .TODO-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size--large);
    padding-right: var(--gutter);
    flex: 1;

    p + p {
      margin-top: 1em;
    }

    span, input {
      will-change: transform;
      display: inline-block;
      outline: 1px solid black;
      color: black;
      background: var(--theme) !important;
      animation: cta 2s infinite;
    }

    span {
      @include no-select;
      font-family: var(--font-family--monospace);
      font-size: 70%;
      padding: 0.6em;
      cursor: pointer;
      vertical-align: 2px;
    }

    svg {
      display: inline;
      height: 2em;
      vertical-align: -15px;
      margin-top: -1em;
    }

    input[type=checkbox] {
      @include reset-button;
      position: relative;
      height: 1em;
      width: 1em;
      vertical-align: -3px;
      cursor: pointer;

      &:checked::after {
        content: '✓';
        position: absolute;
        text-align: center;
        width: 100%;
        top: -0.1em;
      }
    }
  }
}
