.view[data-view=playground] {
  --background: var(--lightgray);

  min-height: 100vh;

  .view__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
  }

  .playground-poster {
    order: -1;
  }

  p {
    padding-right: var(--gutter);
  }

  p + p {
    margin-top: 1em;
  }
}
