$items-length: 4;
$items-length--mobile: 2;

.view[data-view=projects] {
  --background: var(--lightgray);

  header {
    position: relative;
    margin-bottom: var(--gutter);

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    nav {
      @include no-select;
      white-space: nowrap;
    }

    nav button {
      position: relative;
      width: var(--gutter);

      &::after {
        @include inset(-1rem);
        content: '';
      }
    }

    nav button:first-child::after { right: 0; }
    nav button:last-child::after { left: 0; }
  }

  .projects {
    @include invisible-scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    display: flex;
    gap: var(--gutter);
  }

  .project {
    scroll-snap-align: start;

    flex: 0;
    min-width: calc((100% - var(--gutter) * #{$items-length - 1}) / #{$items-length});
    @include mobile { min-width: calc((100% - var(--gutter) * #{$items-length--mobile - 1}) / #{$items-length--mobile}); }

    a {
      text-decoration: none;
    }

    figure {
      aspect-ratio: 70/100;
    }

    figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption h3 {
      margin-top: 1em;
      font-size: var(--font-size--small);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
