@import 'sass/reset';
@import 'sass/fonts';
@import 'sass/helpers';
@import 'sass/devices';

:root {}

@import 'sass/base';
@import 'components/Slider';


main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.slider {
  width: 500px;
}
